Source: libmt32emu
Priority: extra
Maintainer: loge <loge@debian.localdomain>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.6.0)
Standards-Version: 3.9.3
Section: libs

Package: libmt32emu-dev
Section: libdevel
Architecture: any
Description: MT-32 emulator static lib


